.primary{
    color: blue;
}
.primary-light{
    color: lightblue;
}
.primary-dark{
    color: darkblue;
}

.secondary{
    color: yellow;
}
.secondary-light{
    color: lightyellow;
}
.secondary-dark{
    color: yellowgreen;
}

.accent
.accent-light
.accent-dark

.background{
    background-color: green;
}
.background-light{
    background-color: lightgreen;
}
.background-dark{
    background-color: darkgreen;
}

.background-2{
    background-color: plum;
}
.background-2-light{
    background-color: violet;
}
.background-2-dark{
    background-color: purple;
}

.info
.info-light
.info-dark

.success
.success-light
.success-dark

.warning-orange
.warning-light
.warning-dark

.danger
.danger-light
.danger-dark

.inactive
.inactive-light
.inactive-dark

.blue{
    background-color: rgb(0, 0, 255);
  }
  .red{
    background-color: red;
  }
  .green{
    background-color: green;
  }
  .yellow{
    background-color: yellow;
  }
  .realblue{
      background-color: rebeccapurple;
  }