.flex-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0%;
    padding: 20%;
    font-size: 200%;
    flex-direction: row;
}
.flex-container-alt {
    display: flex;
    flex-wrap: nowrap;
    background-color: #ececec;
    justify-content: space-around;
    height: -webkit-fill-available;
    flex-direction: column;
  }
.flex-container-grid{
    grid-row: 1/13;
    grid-column: 3/13;
}
.box-150-px{
    height: 150px;
    width: 250px;
    border: solid 1px black;
    margin-top: 25px;
  }
.flex-box{
    height:5%;
    width:80%;
    border: solid 1px;
    text-align: center;
    margin: 5%;
    position: center;
    justify-content: top;
    z-index: 2;
    position: relative;
    flex-direction: row;
}
.user-grid{
    display: grid;
    height: 100%;
    grid-template-rows: 25%, 1fr, 1fr, 1fr;
    grid-template-columns: 25%, 1fr, 1fr, 1fr;
}
.left{
    grid-row: 1/3;
    grid-column: 1/3;
}
.flex-box-about{
    height:100px;
    width:25%;
    border: solid 1px;
    text-align: left;
    padding: 5%;
    position: left;
    justify-content: top;
}
.flex-box-bottom{
    height:5%;
    width:80%;
    border: solid 1px;
    text-align: center;
    margin: 5%;
    padding: 5%;
    position: bottom;
    justify-content: bottom;
}
.margin-no-sidebars{
    margin-left: 0px;
    margin-right: 0px;
}
.flex-wrapper{
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}
.flex-wrapper > * {
    padding: 10px;
    flex: 1 100%
}
.flex-center{
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 550px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h1 {
    display: flex;
    font-size: 50px;
    text-align: center;
}
.box {
    display: flex;
    justify-content: space-around;
    margin: 15px 0px 50px;
    font-size:150%;
}
.navbar-1{
    background-color: red;
    color: black;
    border: solid 1px;
    justify-content: center;
    height: 5%;
    text-align: center;
}
.margin-25{
    margin: 25% 100px 100px 100px;
}
.about-margin-top{
    margin: top;
    justify-content:100%;
    width: 80%;
}
.text-align-center-about{
    text-align: center;
    margin: top
}
.flex-container-space {
    margin: 0px;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 10px;
    display: flex;
    flex-wrap: nowrap;
}
.flexy-container-space{
    margin:0px;
    width: 325px;
    height: 340px;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;

}
.text-size{
    font-size: 25px;
}
.flex-side{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.flex-sidebar{
    border:solid 1px black;
    margin:0%;
    width:6%;
    height: 100%;
    background-color: red;
    text-align: center;
  }
  .sidebar-test{
    height:100%;
    width:120px;
    background-color:#fff;
    position: fixed;
    z-index: 1;
    overflow:auto}
    .vu-tabs {
        display: flex;
        flex-wrap: wrap;
      }
      
      .vu-tabs label {
        order: 1;
        display: block;
        padding: 1rem 2rem;
        margin-right: 0.2rem;
        cursor: pointer;
        font-weight: bold;
        transition: background ease 0.2s;
      }
      
      .vu-tabs .vu-tab {
        order: 99;
        flex-grow: 1;
        width: 100%;
        display: none;
        padding: 1rem;
      }
      
      .vu-tabs input[type="radio"] {
        display: none;
      }
      
      .vu-tabs input[type="radio"]:checked + label {
          border-bottom:solid .2em blue;
      }
      
      .vu-tabs input[type="radio"]:checked + label + .vu-tab {
        display: block;
      }
      
      @media (max-width: 45em) {
        .vu-tabs .tab,
        .vu-tabs label {
          order: initial;
        }
      
        .vu-tabs label {
          width: 100%;
          margin-right: 0;
          margin-top: 0.2rem;
        }
      }
      