.navbar{
    border: solid 3px black;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 5%;
    overflow: auto;
    position:fixed;
    justify-content: fill;
    text-align: center;
    font-size: 30px;
}
.flex-box{
    height:150px;
    width:150px;
    border: solid 1px;
    text-align: center;
    margin: 25px;
    position: relative;
}
.flex-wrapper{
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}
.flex-wrapper > * {
    padding: 10px;
    flex: 1 100%
}
