
.body{
  margin: 0px;
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;

}
.footer {
  grid-area: footer;
}
.main2{
  grid-row: 3;
  grid-column: 3 / 2;
}
.main3{
  grid-row: 4;
  grid-column: 5 / 5
}
.main4{
  grid-row: 5;
  grid-column: 2 / 4;
}

.container{
  display: grid;
  grid-template-columns: 20vh 20vh 20vh;
  grid-template-rows: 20vh 20vh 20vh;
  grid-template-areas:
  "sidebar header header header"
  "sidebar main main main"
  "sidebar main main main";
}

.viewport{
height: 97vh;
width: 98vw;
}
.class{
  display: grid;
}
.layout{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 5% 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.layout2{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 60% 1fr;
  grid-template-columns: 50% 1fr 1fr;
}
.blue{
  background-color: blue;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
.top{
grid-row: 1/2;
grid-column: 1/5;
}
.middle{
grid-row: 2/4;
grid-column: 1/5;
}
.bottom{
  grid-row: 4/5;
  grid-column: 3/4;
}
.center-item{
  grid-row: 2/3;
  grid-column: 2/3;
}
.fugly{
  grid-row: 2/4;
  grid-column: 2/4;
}
.fugly-2{
  grid-row: 3/4;
  grid-column: 2/4;
}
.bottom-center{
  grid-row: 3/4;
  grid-column: 3/4;
}
.fugly-4{
  grid-row: 4/3;
  grid-column: 3/4;
}