
.body{
  margin: 0px;
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;

}
.footers {
  grid-area: footer;
}
.main2{
  grid-row: 9/11;
  grid-column: 5/6;
}
.main3{
  grid-row: 9/11;
  grid-column: 7/8;
}
.main4{
  grid-row: 9/11;
  grid-column: 9/10;
}
.middle{
grid-row: 3/7;
grid-column: 4/11;
text-align: center;
}
.footer{
  grid-row: 13/16;
  grid-column: 1/14;
  width: 100%;
  position:fixed;
  bottom: 0px;
  
}
.container{
  display: grid;
  grid-template-columns: 20vh 20vh 20vh;
  grid-template-rows: 20vh 20vh 20vh;
  grid-template-areas:
  "sidebar header header header"
  "sidebar main main main"
  "sidebar main main main";
}

.viewport{
height: 97vh;
width: 98vw;
}
.class{
  display: grid;
}
.layout{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.layout-background{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.layout2{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 60% 1fr;
  grid-template-columns: 50% 1fr 1fr;
}
.yellow-middle{
  grid-row: 2/3;
  grid-column: 1/4;
  color:red;
}
.background-wallpaper {
  background-image: url(https://media0.giphy.com/media/26DOMIeH5yZgc4GD6/giphy.gif);
  background-size: 100%;
  background-position-x:;
  background-position-y: 50%;
}