/*flex item order*/
.item-order{
    order: 0;
}
/*flex item order ends*/
/*flex item grow*/
.item-grow{
    flex-grow: <number>;
}
/*flex item grod end*/
/*align content starts here*/
.flexbox-align-content-start{
    align-content: flex-start;
}
.flexbox-align-content-end{
    align-content: flex-end;
}
.flexbox-align-content-center{
    align-content: center;
}
.flexbox-align-content-space-between{
    align-content: space-between;
}
.flexbox-align-content-space-around{
    align-content: space-around;
}
.flexbox-align-content-stretch{
    align-content: stretch;
}
/*align content ends here*/